<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="GM_Tool_V5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Rappelz_GM_Tool_V5_Final.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <GM_Tool_V5.Properties.Settings>
            <setting name="dbAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="dbDatabase" serializeAs="String">
                <value>Arcadia</value>
            </setting>
            <setting name="NoticeOne" serializeAs="String">
                <value>Please enter a notice.</value>
            </setting>
            <setting name="NoticeTwo" serializeAs="String">
                <value>The notice will be autosaved</value>
            </setting>
            <setting name="NoticeThree" serializeAs="String">
                <value>So you don't have to type it</value>
            </setting>
            <setting name="NoticeFour" serializeAs="String">
                <value>Every time you start the GM-Tool.</value>
            </setting>
            <setting name="nStyle" serializeAs="String">
                <value>0</value>
            </setting>
        </GM_Tool_V5.Properties.Settings>
        <Rappelz_GM_Tool_V5_Final.Properties.Settings>
            <setting name="dbAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="dbDatabase" serializeAs="String">
                <value>Arcadia</value>
            </setting>
            <setting name="NoticeOne" serializeAs="String">
                <value>Please enter a notice.</value>
            </setting>
            <setting name="NoticeTwo" serializeAs="String">
                <value>The notice will be autosaved</value>
            </setting>
            <setting name="NoticeThree" serializeAs="String">
                <value>So you don't have to type it</value>
            </setting>
            <setting name="NoticeFour" serializeAs="String">
                <value>Every time you start the GM-Tool.</value>
            </setting>
        </Rappelz_GM_Tool_V5_Final.Properties.Settings>
    </userSettings>
</configuration>
